<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Seach address</label>
            <input type="text" class="form-control" id="seach-input" name="q" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
        </div>
          <div class="form-group">
            <label for="exampleInputEmail1">gender</label>
            <select class="form-control" id="seach-input" name="gender">
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
                <option value="">Khác</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>
</div>